MONGO_URI="mongodb+srv://usuario:password@cluster.mongodb.net/?retryWrites=true&w=majority"
DB_NAME="agencia_viajes_rag"
MONGODB_VECTOR_INDEX="vector_index"
MONGODB_MULTIMEDIA_VECTOR_INDEX="multimedia_vector_index"
EMBEDDING_MODEL="all-MiniLM-L6-v2"
EMBEDDING_DIM=384
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.5-flash"
